/* Frame 1261153109 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 1076px;
height: 1032px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 1;
